# Copy this file to .env and fill with real values
# For local use keep default. In Render frontend service set this to your API base URL.
NUTRISSISTANT_API_URL=http://localhost:8000

LLMOD_API_KEY=
OPENAI_API_BASE=
PINECONE_API_KEY=
PINECONE_INDEX_NAME_WORKOUTS=
PINECONE_INDEX_NAME_NUTRITION=
SUPABASE_DB_URL=
